<% @reservations.each do |res| %>
  <div class='reservations'>
    <h4>Customer: <%= res.exam.client %></h4>
    <h4>Exam: <%= res.exam.name %></h4>
    <div>Student: <%= res.client_first_name %> <%= res.client_last_name %></div>
    <div>Exam Date: <%= Time.at res.datetime %></div>
  </div>

<% end %>